<div class="home_top">
    <div class="wrap">  
        <div class="outline">
            <h1><%= link_to "/" do %>
                <%= image_tag "logo.png",:width =>"220" %>
            <% end %></h1>
        </div>
        <hr>
        <ul>
            <li><%= link_to("Sign up","/account/new") %></li>
            <li><%= link_to("Log in","/account/login_form") %></li>
        </ul>
    </div>
</div>