// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_show,.like_show{
    width:300px;
    margin:0px auto;
    padding:30px;
    background-color:#f5f5f5;
}
.account_show img,.like_show img,{
    display:block;
    margin:0 auto;
    border-radius: 15px;
}
.profile_column{
    margin-top:5px;
    font-size:10px;
    color:#b3b4b3;
}
.btns{
   margin-top:20px;
    overflow:hidden;
}
.edit_btn,.register_btn,.login_btn{
    margin-right:5px;
    padding:5px 10px;
    float:left;
    border:none;
    font-size:12px;
    color:#f5f5f5;
    background-color:#ff6347;
}
.login_btn:hover,.edit_btn:hover,.back_btn:hover,.delete_btn:hover{
    opacity:0.6;
}
.back_btn{
    font-size:12px;
    color:white;
    background-color:#abb1b5;
    padding:5px 10px;
    float:left;
    margin-right:5px;
}
.delete_btn{
    padding:5px 10px;
    font-size:12px;
    border:none;
    color:#f5f5f5;
    background-color:black;
    float:left;
}
.account_edit{
    width:150px;
    margin:50px auto;
    padding:30px;
    background-color:#f5f5f5;
}
.account_new,.login_form{
    width:250px;
    font-size:12px;
    margin:0 auto;
}
.account_new .inner,.login_form .inner{
    padding:50px;
}
.account_delete{
    width:200px;
    height:100px;
    padding:50px;
    margin:100px auto;
    letter-spacing:1px;
    background-color:#f5f5f5;
}
.switch{
    margin-top:30px;
    overflow:hidden;
}
.switch p{
    font-weight:bold;
    color:#454545;
    float:left;
    padding:10px 20px 20px 0;
}
.switch a{
    color:lightgray;
}
.switch a:hover{
    color:#ff8d64;
}

