// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_top{
    width:840px;
    height:550px;
    background-color:#e5c397;
    background-image:image-url("top.jpg");
    background-size:cover;
<<<<<<< HEAD
    text-align:center;
=======
    text-align: center;
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
    margin:0 auto;
}
.home_top .wrap{
    width:840px;
    height:550px;
    background-color:rgba(0, 0, 0, 0.28);
}
.home_top h1{
    margin:5px;
}
.home_top .outline{
    margin-top:120px;
    width:230px;
    height:155px;
    display:inline-block;
}
.home_top ul{
    margin-top:15px;
}
.home_top li{
    padding:5px;
}
.home_top li a{
    font-size:20px;
    color:white;
    font-weight:bold;
    letter-spacing:2px;
}
.home_top li a:hover{
    opacity:0.4;
}
.home_top hr{
    width:600px;
    margin:20px auto 15px;
}