// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_top{
    width:840px;
    height:550px;
    margin-top:-80px;
    background-image:image-url("top.jpg");
    background-size:cover;
    background-position:0px -50px;
    background-repeat:no-repeat;
    text-align: center;
    position:relative;
}
.home_top h1 a{
    color:white;
}
.home_top h1{
    margin:5px;
}
.home_top .outline{
    margin-top:80px;
    width:230px;
    height:155px;
    display:inline-block;
}
.home_top ul{
    width:100%;
    position:absolute;
    top:270px;
}
.home_top li{
    padding:5px;
}
.home_top li a{
    font-size:18px;
    color:white;
    font-weight:bold;
    letter-spacing:2px;
    text-shadow: -2px 4px 0 rgba(0,0,0,0.3);
}
.home_top li a:hover{
    opacity:0.6;
}
.home_top hr{
    width:600px;
    margin:20px auto;
    color:white;

}