// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts_index{
    width:400px;
    margin:0 auto;
}
.posts_index .submit_btn{
    border:none;
    color:#f5f5f5;
    background-color:#ff6347;
    padding:10px;
    margin-left:5px;
}
.submit_btn:hover{
    opacity:0.6;
}
<<<<<<< HEAD
.retweet_form .submit_btn,
.posts_edit .submit_btn{
=======
<<<<<<< HEAD
.retweet_form .submit_btn,
.posts_edit .submit_btn{
=======
.retweet_form .submit_btn,.posts_edit .submit_btn{
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
    border:none;
    color:#f5f5f5;
    background-color:#ff6347;
    padding:10px;
    margin-top:10px;
}
.posts_edit .submit_btn{
    margin:0 0 0 10px;
}
textarea{
    width:300px;
    height:30px;
    float:left;
    margin-bottom:20px;
}
.index_post{
    color:#696969;
}
.posts{
    background-color:#f5f5f5;
    padding:30px;
}
.posts_index,
.posts{
    margin-top:30px;
}
.posts_line{
    border: 1px solid #e6eae6;
    margin:30px 0;
}
.user_info{
    clear:both;
    overflow:hidden;
    font-size:12px;
    margin-bottom:20px;
}
.user_info p{
    margin-left:5px;
    padding-top:5px;
    float:left;
}
.user_info img{
    display:block;
    border-radius:4px;
    float:left;
}
.user_info .name{
    color:gray;
}
.posts_show{
    width:400px;
    margin:50px auto;
    padding:30px;
    background-color:#f5f5f5;
}
.date_time{
    margin-top:20px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    text-align:right;
    font-size:12px;
}
.action_btns{
=======
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
    text-align: right;
    font-size:12px;
}
.action_btns {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
    margin-left:5px;
>>>>>>> e80424284d32ac54499f910cd9ea550273542554
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
    overflow:hidden;
    font-size:12px;
}
.action_btns span{
    margin-left:15px;
}
.action_btns p{
    float:left;
    font-size:10px;
}
.action_btns a{
    color:gray;
}
.unlike_btn{
    color:orangered;
    float:left;
    margin:0 5px;
}
.unlike_btn:hover{
    color:gray;
}
.like_btn{
    color:lightgray;
    float:left;
    margin:0 5px;
}
.action_title{
    overflow:hidden;
    margin-top:10px;
    display:block;
    opacity:0.6;
}
<<<<<<< HEAD
.action_title span,
.action_title p{
    float:left;
}
.action_title span{
    margin-top:8px;
}
.retweet_this,
.edit_comment{
    margin-bottom:10px;
    letter-spacing:1px;
}
=======
<<<<<<< HEAD
.action_title span,
.action_title p{
=======
.action_title span,action_title p{
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
    float:left;
}
.action_title span{
    margin-top:8px;
}
<<<<<<< HEAD
.retweet_this,
.edit_comment{
=======
.retweet_this,.edit_comment{
>>>>>>> be53ab069c40b08ae112ac0cec4dc2721fad6189
    margin-bottom:10px;
    letter-spacing:1px;
}
>>>>>>> c7def91596875ce8c40d0ab9ca56605bac4dd9c8
.origin_text{
    opacity:0.9;
    font-size:14px;
    margin:-5px 0 0 5px;
}