// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts_index{
    width:400px;
    margin:0 auto;
}
.posts_index .submit_btn{
    border:none;
    color:#f5f5f5;
    background-color:#ff6347;
    padding:5px 10px;
    margin:7px 0 0 5px;
}
.posts_index .submit_btn:hover{
    opacity:0.6;
}
textarea{
    width:300px;
    height:30px;
    float:left;
}
.index_post{
    color:#696969;
}
.posts{
    background-color:#f5f5f5;
    padding:30px;
}
.posts_index,.posts{
    margin-top:30px;
}
.posts_line{
    border: 1px solid #e6eae6;
    margin:30px 0;
}
.save_btn{
    font-size:12px;
    color:#f5f5f5;
    background-color:#ff6347;
    margin:5px;
    padding:5px 10px;
}
.save_btn:hover{
    opacity:0.6;
}
.user_info{
    overflow:hidden;
    font-size:12px;
    margin-bottom:20px;
}
.user_info p{
    margin-left:5px;
    padding-top:5px;
    float:left;
}
.user_info img{
    display:block;
    border-radius:4px;
    float:left;
}
.user_info .name{
    color:gray;
}
.posts_show,.posts_edit{
    width:400px;
    margin:50px auto;
    padding:30px;
    background-color:#f5f5f5;
}
.date_time{
    margin-top:30px;
    text-align: right;
    font-size:12px;
}
.like_btns {
    margin-left:5px;
    overflow:hidden;
    color:gray;
    font-size:12px;
}
.like_btns p{
    float:left;
    font-size:10px;
}
.like_btns a{
    color:gray;
}
.like_btns a:hover{
    color:black;
}
.unlike_btn{
    color:orangered;
    float:left;
    margin:0 5px;
}
.unlike_btn:hover{
    color:gray;
}
.like_btn{
    color:lightgray;
    float:left;
    margin:0 5px;
}
.like_btn:hover{
    color:orangered;
}
